{% extends 'base.html' %}
{% block title %}Edit Post{% endblock title %}
{% block content %}
<div class="edit-container">
    <h1 class="edit-title">Edit Post</h1>
    <form method="POST" class="edit-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="edit-btn">Edit</button>
    </form>
</div>
{% endblock content %}