{% extends 'base.html' %}

{% block title%}Home{% endblock title %}

{% block content %}

<h1 class="home-title">VALIS</h1>
<div class="body-text">
      <p> Philip K. Dick's VALIS is a departure from his earlier, more conventional science fiction. Published in 1981, this enigmatic novel delves into the realms of metaphysics, theology, and personal experience, inviting readers on a mind-bending journey that challenges the boundaries of reality.</p>
      <p>Rather than a straightforward narrative, VALIS is a visionary exploration of Dick's own spiritual awakening and his encounter with a divine intelligence, the Vast Active Living Intelligence System (VALIS). The novel blends elements of science fiction with Gnostic theology, philosophy, and autobiography, creating a unique hybrid that defies easy categorization.</p>
      <p>Through the eyes of the protagonist, a fictionalized version of Dick himself, VALIS explores themes of divine revelation, mental illness, and the nature of reality. The novel is a testament to Dick's relentless pursuitof truth and meaning, as he grapples with profound questions about God, the universe, and the human condition.</p>
      <p>By blurring the lines between the physical and the metaphysical, VALIS invites readers to question their own perceptions of reality and to consider the possibility of a higher, transcendent truth.</p>
</div>
{% endblock content%}